@import url("https://fonts.googleapis.com/css?family=Pacifico");   

body {
    width: 100%;
    height: 100%;
    
    background: black;
    
    font-family: 'Pacifico';
 
}

h1{
    color: #F7BC05;
}

h2, p, h3{
    color: white;
    font-size: 30px;
}

input{
    width: 20%;
    opacity: 0.4;
    
}


#block-foxs{
    margin-top: 50px;
}

.buttons-default{
    margin-top: 40px;
    width: 50%;
    background-color: snow;
}
.buttons-default:hover{
    background-color: #F7BC05;
    color: white;
}

div{
    position: inherit;
}